.rsakey-page, .rsakey-page .tabs {
    height: 100%;
}

    .rsakey-page .ivu-tabs-content {
        height: calc(100% - 52px);
    }

    .rsakey-page .text {
        position: relative;
    }

    .rsakey-page .transfer {
        position: absolute;
        right: 1rem;
        top: .5rem;
        display: none;
    }

    .rsakey-page .text:hover .transfer {
        display: flex;
        gap: .5rem;
    }

    .rsakey-page .operations {
        display: flex;
        align-items: start;
        gap: .5rem;
    }

    .rsakey-page .panel-content {
        display: grid;
        grid-template-rows: auto auto 1fr auto 1fr;
        gap: .5rem;
        height: 100%;
    }

    .rsakey-page .panel3-content .result {
        line-height: 32px;
    }
