@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h2>redirecting...</h2>
        <script>
            location.href = "/";
        </script>
    </NotFound>
</Router>
