<div class="page-layout">
    <div class="page-layout-nav">
        <Drawer v-if="isSmall" placement="left" :closable="false" v-model="isMenuOpen">
            <template #header>
                <div class="page-layout-brand">
                    <Icon type="ios-hammer-outline" size="24" />
                    <span>{{$t('appName')}}</span>
                    <Icon type="ios-close" size="24" @click="isMenuOpen=false" />
                </div>
            </template>
            <Menu ref="menu" accordion="true" theme="dark" width="200" @on-select="nav" :active-name="currentMenuId" :open-names="openMenuArray">
                <menuitem v-for="menu in menus" v-bind:item="menu"></menuitem>
            </Menu>
        </Drawer>

        <div v-else v-bind:class="['large',isMenuOpen?'show':'hide']">
            <div class="page-layout-brand">
                <Icon type="ios-hammer-outline" size="24" />
                <span>{{$t('appName')}}</span>
                <Icon type="ios-close" size="24" @click="isMenuOpen=false" />
            </div>
            <div class="menu">
                <Menu ref="menu" accordion="true" theme="dark" width="200" @on-select="nav" :active-name="currentMenuId" :open-names="openMenuArray">
                    <menuitem v-for="menu in menus" v-bind:item="menu"></menuitem>
                </Menu>
            </div>
        </div>
    </div>

    <div class="page-layout-header">
        <div class="content start">
            <Space v-if="!isMenuOpen">
                <Icon type="ios-menu" @click="isMenuOpen=true" size="20" color="var(--orange-500)" />
                <Icon type="ios-hammer-outline" size="24" />
                <span>{{$t('appName')}}</span>
            </Space>
        </div>
        <div class="content center">
        </div>
        <div class="content end">
            <Space>
                <Dropdown trigger="click" @on-click="selectLocale">
                    <Button type="primary" size="small">
                        {{$i18n.locale}}
                        <Icon type="ios-arrow-down"></Icon>
                    </Button>
                    <template #list>
                        <DropdownMenu>
                            <DropdownItem v-for="locale in $i18n.availableLocales" v-bind:name="locale" v-bind:selected="locale==$i18n.locale">{{ locale }}</DropdownItem>
                        </DropdownMenu>
                    </template>
                </Dropdown>
                <Icon type="logo-github" @click="openGithub" size="24" />
            </Space>
        </div>
    </div>

    <div class="page-layout-route-tabs">
        <Tabs type="card" :draggable="true" @on-drag-drop="handleDragDrop" closable @on-tab-remove="handleTabRemove" v-model:model-value="currentTabName">
            <TabPane v-for="(tab, index) in tabList" :index="index" :label="$t('menus.'+tab.name)" :name="tab.name" :closable="tabList.length>1" v-bind:data-id="tab.id"/>
        </Tabs>
    </div>

    <div class="page-layout-body">
        <div class="page-layout-body-content">
            <slot></slot>
        </div>
    </div>
</div>

