html, body, #vue-app, .page-layout {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.page-layout-side-nav {
    grid-row: 1/3;
    overflow: auto;
}

.page-layout-side-menu {
    height: 100%;
    overflow: auto;
}

    .page-layout-side-menu:not(.el-menu--collapse) {
        width: 250px;
    }

.page-layout-header {
    grid-column: 2;
    overflow: auto;
}

.page-layout-body {
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

.page-layout img {
    width: 16px;
    height: 16px;
}

    .page-layout img.large {
        width: 22px;
        height: 22px;
    }

.el-menu-item, .el-sub-menu__title {
    line-height: unset !important;
    height: 44px !important;
    gap: .5rem;
}

.el-menu--popup {
    min-width: 100px;
}

.el-menu-item:hover {
    background: var(--gray-600);
}

.el-sub-menu__title:hover {
    background: var(--gray-500);
}

.el-menu-item.is-active, .el-sub-menu.is-active {
    background: var(--green-400);
}

.el-sub-menu.is-opened.is-active {
    background: var(--gray);
}

.page-layout-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: var(--theme);
    gap: .5rem;
    padding: 0 .5rem;
    align-items: center;
    color: var(--light);
    height: 44px;
}

    .page-layout-header svg {
        height: 24px;
        width: 24px;
        cursor: pointer;
    }

        .page-layout-header svg path {
            fill: var(--light);
        }

        .page-layout-header svg:hover path {
            fill: var(--gray-400);
        }

    .page-layout-header .content {
        display: flex;
        align-items: center;
    }

        .page-layout-header .content.end {
            gap: .5rem;
        }
