<div class="page-layout">
    <div class="page-layout-nav">
        <Drawer v-if="isSmall" placement="left" :closable="false" v-model="isMenuOpen">
            <template #header>
                <div class="page-layout-brand">
                    <Icon type="ios-hammer-outline" size="24" />
                    <span>{{$t('appName')}}</span>
                    <Icon type="ios-close" size="24" @click="isMenuOpen=false" />
                </div>
            </template>
            <div class="page-layout-nav-body">
                <div class="menu">
                    <Menu ref="menu" accordion="true" theme="dark" width="200" @on-select="nav" :active-name="currentMenuId" :open-names="openMenuArray">
                        <menuitem v-for="menu in menus" v-bind:item="menu"></menuitem>
                    </Menu>
                </div>
                <div class="version">
                    <p>v{{currentVersion.version}}</p>
                    <Button size="small" icon="md-arrow-up" shape="circle" ghost @click="showVersionModal=true"></Button>
                </div>
            </div>
        </Drawer>

        <div v-else v-bind:class="['large',isMenuOpen?'show':'hide']">
            <div class="page-layout-brand">
                <Icon type="ios-hammer-outline" size="24" />
                <span>{{$t('appName')}}</span>
                <Icon type="ios-close" size="24" @click="isMenuOpen=false" />
            </div>
            <div class="page-layout-nav-body">
                <div class="menu">
                    <Menu ref="menu" accordion="true" theme="dark" width="300" @on-select="nav" :active-name="currentMenuId" :open-names="openMenuArray">
                        <menuitem v-for="menu in menus" v-bind:item="menu"></menuitem>
                    </Menu>
                </div>
                <div class="version">
                    <p>v{{currentVersion.version}}</p>
                    <Button size="small" icon="md-arrow-up" shape="circle" ghost @click="showVersion"></Button>
                </div>
            </div>
        </div>

        <Modal v-model="showVersionModal" :mask-closable="false" footer-hide="true" width="250">
            <template #header>
                <p style="color:#f60;text-align:center">
                    <Icon type="md-arrow-up"></Icon>
                    <span>{{$t('message.checkUpdate')}}</span>
                </p>
            </template>
            <div class="versionModalBody">
                <div style="display:grid;grid-template-columns:auto 1fr;grid-template-rows:repeat(4,auto)">
                    <p style="grid-row:1;grid-column:1;text-align:right;padding-right:.5rem;">{{$t('message.platform')}}:</p>
                    <p style="grid-row:1;grid-column:2;font-weight:bold;">{{currentVersion.platform}}</p>

                    <p style="grid-row:2;grid-column:1;text-align:right;padding-right:.5rem;">{{$t('message.currentVersion')}}:</p>
                    <p style="grid-row:2;grid-column:2;font-weight:bold;">v{{currentVersion.version}}</p>

                    <p v-if="lastVersion" style="grid-row:3;grid-column:1;text-align:right;padding-right:.5rem;">{{$t('message.lastVersion')}}:</p>
                    <p v-if="lastVersion" style="grid-row:3;grid-column:2;font-weight:bold;">v{{lastVersion}}</p>

                    <p v-if="lastVersion==currentVersion.version" style="grid-row:4;grid-column:1/3;font-weight:bold;">{{$t('message.alreadyUptodate')}}<Icon color="var(--success)" type="ios-checkmark-circle" /></p>
                    <p v-if="lastVersion&&lastVersion!=currentVersion.version" style="grid-row:4;grid-column:1/3;font-weight:bold;">{{$t('message.newVersionDetected')}}</p>
                </div>
                <div v-if="progress" class="progress">
                    <Progress :percent="progress.progress" status="active">
                        <span>{{$t('message.progress')}}:{{progress.progressString}}&nbsp;&nbsp;{{$t('message.downloadSpeed')}}:{{progress.speed}}</span>
                    </Progress>
                </div>
                <div class="operations">
                    <Button v-if="!lastVersion||lastVersion==currentVersion.version" type="primary" @click="checkUpdate" :loading="checking">{{$t('message.checkUpdate')}}</Button>
                    <Button v-else type="success" @click="upgrade" :loading="upgrading||installing">{{$t('message.installUpdate')}}</Button>
                </div>
            </div>
        </Modal>
    </div>

    <div class="page-layout-header">
        <div class="content start">
            <Space v-if="!isMenuOpen">
                <Icon type="ios-menu" @click="isMenuOpen=true" size="20" color="var(--orange-500)" />
                <Icon type="ios-hammer-outline" size="24" />
                <span>{{$t('appName')}}</span>
            </Space>
        </div>
        <div class="content center">
        </div>
        <div class="content end">
            <Space>
                <Dropdown trigger="click" @on-click="selectTheme">
                    <button class="theme-button">
                        <svg viewBox="0 0 1024 1024" width="24" height="24">
                            <path d="M512 512c0-141.44-114.56-256-256-256S0 370.56 0 512c0 46.72 12.8 90.24 34.56 128 0-88.32 45.44-174.08 128-221.44A255.488 255.488 0 0 1 512 512z" fill="#0FFCE4"></path>
                            <path d="M511.744 512a255.488 255.488 0 0 0-349.44-93.44A255.488 255.488 0 0 0 68.864 768c23.04 40.32 55.68 72.32 93.44 93.44a255.808 255.808 0 0 1 0-256A256.192 256.192 0 0 1 511.744 512z" fill="#0FFCE4"></path>
                            <path d="M512 512.192a255.488 255.488 0 0 0-349.44 93.44A255.488 255.488 0 0 0 256 955.072c40.32 23.68 84.48 34.56 128 34.56a256 256 0 0 1-128-221.44c0-141.44 114.56-256 256-256z" fill="#FFCB01"></path>
                            <path d="M512 512c-141.44 0-256 114.56-256 256s114.56 256 256 256c46.72 0 90.24-12.8 128-34.56-88.32 0-174.08-45.44-221.44-128A255.488 255.488 0 0 1 512 512z" fill="#FFCB01"></path>
                            <path d="M512 512a255.488 255.488 0 0 0-93.44 349.44A255.68 255.68 0 0 0 768 955.52c40.32-23.68 72.32-56.32 93.44-94.08A255.808 255.808 0 0 1 512 512z" fill="#FF8D01"></path>
                            <path d="M512.192 512a255.488 255.488 0 0 0 93.44 349.44c122.24 71.04 279.04 28.8 349.44-93.44 23.68-40.32 34.56-84.48 34.56-128a255.936 255.936 0 0 1-477.44-128z" fill="#FF8D01"></path>
                            <path d="M512 512c0 141.44 114.56 256 256 256s256-114.56 256-256c0-46.72-12.8-90.24-34.56-128 0 88.32-45.44 174.08-128 221.44A255.488 255.488 0 0 1 512 512z" fill="#F44742"></path>
                            <path d="M512 511.68a255.68 255.68 0 0 0 349.44 94.08 256.384 256.384 0 0 0 94.08-350.08c-23.68-40.32-56.32-71.68-94.08-93.44 44.16 76.8 47.36 174.08 0 256A255.488 255.488 0 0 1 512 511.68z" fill="#F44742"></path>
                            <path d="M512 511.744c122.24 71.04 279.04 28.8 349.44-93.44 71.04-122.24 28.8-279.04-93.44-349.44-40.32-23.68-84.48-34.56-128-34.56a255.936 255.936 0 0 1-128 477.44z" fill="#019FFF"></path>
                            <path d="M512 512c141.44 0 256-114.56 256-256s-114.56-256-256-256c-46.72 0-90.24 12.8-128 34.56 88.32 0 174.08 45.44 221.44 128C676.48 284.8 634.24 441.6 512 512z" fill="#019FFF"></path>
                            <path d="M511.68 511.744a255.68 255.68 0 0 0 94.08-349.44 256.192 256.192 0 0 0-350.08-93.44c-40.32 23.04-71.68 55.68-93.44 93.44 76.8-44.16 174.08-47.36 256 0 122.24 71.04 164.48 227.2 93.44 349.44z" fill="#00C4B2"></path>
                            <path d="M511.744 512c71.04-122.24 28.8-279.04-93.44-349.44A255.488 255.488 0 0 0 68.864 256c-23.68 40.32-34.56 84.48-34.56 128a256 256 0 0 1 221.44-128c141.44 0 256 114.56 256 256z" fill="#00C4B2"></path>
                        </svg>
                    </button>
                    <template #list>
                        <DropdownMenu>
                            <DropdownItem v-for="item in themes" v-bind:name="item" v-bind:selected="item==theme">
                                <div class="theme-color" v-bind:style="{width:'24px',height:'24px',background:'var(--'+item+')'}"></div>
                                {{ $t('theme.'+item) }}
                            </DropdownItem>
                        </DropdownMenu>
                    </template>
                </Dropdown>
                <Dropdown trigger="click" @on-click="selectLocale">
                    <Button type="primary" size="small">
                        {{$i18n.locale}}
                        <Icon type="ios-arrow-down"></Icon>
                    </Button>
                    <template #list>
                        <DropdownMenu>
                            <DropdownItem v-for="locale in $i18n.availableLocales" v-bind:name="locale" v-bind:selected="locale==$i18n.locale">{{ locale }}</DropdownItem>
                        </DropdownMenu>
                    </template>
                </Dropdown>
                <Icon type="logo-github" @click="openGithub" size="24" color="var(--theme-reverse)" />
            </Space>
        </div>
    </div>

    <div class="page-layout-route-tabs">
        <Tabs type="card" :draggable="true" @on-drag-drop="handleDragDrop" closable @on-tab-remove="handleTabRemove" v-model:model-value="currentTabName">
            <TabPane v-for="(tab, index) in tabList" :index="index" :label="$t('menus.'+tab.name)" :name="tab.name" :closable="tabList.length>1" v-bind:data-id="tab.id" />
        </Tabs>
    </div>

    <div class="page-layout-body">
        <div class="page-layout-body-content">
            <slot></slot>
        </div>
    </div>
</div>

