.page-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    user-select: none;
}

.page-layout-nav {
    grid-row: 1/4;
}

    .page-layout-nav li, .page-layout-nav span {
        white-space: nowrap;
    }

    .page-layout-nav .large {
        transition: all .3s ease;
        transform-origin: left;
        overflow: hidden;
        width: 256px;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        background: var(--gray);
        color: var(--light);
        box-shadow: 0 0 5px 5px #aaa;
    }

        .page-layout-nav .large.hide {
            width: 0;
            box-shadow: none;
        }

        .page-layout-nav .large.show {
            width: 256px;
        }

        .page-layout-nav .large.hide .ivu-menu-submenu-title-icon {
            display: none;
        }

.page-layout-brand {
    border-bottom: 0;
    display: grid;
    align-items: center;
    padding: .5rem;
    background: var(--purple-600);
    grid-template-columns: auto 1fr auto;
    gap: .5rem;
    height: 52px;
}

    .page-layout-brand .ivu-icon-ios-close:hover, .page-layout-header .ivu-icon-ios-menu:hover, .page-layout-header .ivu-icon-logo-github:hover {
        cursor: pointer;
        opacity: .8;
    }

.page-layout-nav-body {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    overflow: hidden;
}

    .page-layout-nav-body .menu {
        overflow: auto;
        padding: .5rem;
    }

    .page-layout-nav-body .version {
        display: grid;
        grid-template-columns: 1fr auto;
        background: var(--gray-700);
        padding: .5rem;
        align-items: center;
    }

.page-layout-header {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: var(--theme);
    gap: .5rem;
    padding: 0 .5rem;
    align-items: center;
    color: var(--light);
    height: 52px;
}

    .page-layout-header .start {
        padding-top: 2px;
    }

.page-layout-route-tabs {
    grid-column: 2;
    grid-row: 2;
    padding: 1rem;
    padding-bottom: .5rem;
    overflow: hidden;
}

.ivu-drawer-wrap {
    user-select: none;
}

.ivu-drawer-body {
    padding: 0;
}

.ivu-drawer-header {
    border-bottom: 0;
    background: var(--purple-600);
}

.ivu-drawer-content {
    background: var(--gray);
    color: var(--light);
}

.ivu-drawer-header {
    padding: 0;
}

.page-layout-route-tabs .ivu-tabs {
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 .25rem .25rem var(--gray-400);
}

.page-layout-route-tabs .ivu-tabs-bar {
    user-select: none;
    margin-bottom: 0;
    border-bottom: 0;
}

.page-layout-route-tabs .ivu-tabs-tab {
    border-radius: 4px !important;
    border: none !important;
    background: var(--gray-300) !important;
}

    .page-layout-route-tabs .ivu-tabs-tab.ivu-tabs-tab-active {
        background: var(--theme) !important;
        color: var(--light) !important;
    }

        .page-layout-route-tabs .ivu-tabs-tab.ivu-tabs-tab-active .ivu-tabs-close {
            color: var(--light) !important;
        }

            .page-layout-route-tabs .ivu-tabs-tab.ivu-tabs-tab-active .ivu-tabs-close:hover {
                opacity: .8;
            }

.page-layout-body {
    grid-column: 2;
    grid-row: 3;
    padding: 1rem;
    padding-top: .5rem;
    overflow: hidden;
}

.page-layout-body-content {
    height: 100%;
    overflow: auto;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 0 .25rem .25rem var(--gray-400);
}

.versionModalBody {
}

    .versionModalBody .operations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }

    .versionModalBody .progress {
        margin-bottom: .2rem;
    }

    .versionModalBody .ivu-progress-outer {
        padding-right: 0;
        margin-right: 0;
    }
