.page-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    user-select: none;
}

.page-layout-nav {
    grid-row: 1/4;
}

    .page-layout-nav li,
    .page-layout-nav span {
        white-space: nowrap;
    }

    .page-layout-nav .large {
        transition: all .3s ease;
        transform-origin: left;
        overflow: hidden;
        width: 256px;
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        background: var(--theme);
        color: var(--theme-reverse);
    }

        .page-layout-nav .large.hide {
            width: 0;
            box-shadow: none;
        }

        .page-layout-nav .large.show {
            width: 256px;
        }

        .page-layout-nav .large.hide .ivu-menu-submenu-title-icon {
            display: none;
        }

.page-layout-brand {
    border-bottom: 0;
    display: grid;
    align-items: center;
    padding: .5rem;
    background: var(--theme-700);
    color: var(--theme-reverse);
    grid-template-columns: auto 1fr auto;
    gap: .5rem;
    height: 52px;
}

    .page-layout-brand .ivu-icon-ios-close:hover,
    .page-layout-header .ivu-icon-ios-menu:hover,
    .page-layout-header .ivu-icon-logo-github:hover {
        cursor: pointer;
        opacity: .8;
    }

.page-layout-nav-body {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    overflow: hidden;
}

    .page-layout-nav-body .menu {
        overflow: auto;
        padding: .5rem;
    }

    .page-layout-nav-body .version {
        display: grid;
        grid-template-columns: 1fr auto;
        background: var(--theme-700);
        padding: .5rem;
        align-items: center;
    }

.page-layout-header {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: var(--theme);
    gap: .5rem;
    padding: 0 .5rem;
    align-items: center;
    color: var(--theme-reverse);
    height: 52px;
}

    .page-layout-header .start {
        padding-top: 2px;
    }

.page-layout-route-tabs {
    grid-column: 2;
    grid-row: 2;
    padding: .5rem;
    padding-bottom: .25rem;
    overflow: hidden;
    background: var(--theme-800);
}

.ivu-drawer-wrap {
    user-select: none;
}

.ivu-drawer-body {
    padding: 0;
}

.ivu-drawer-header {
    border-bottom: 0;
    background: var(--theme-700);
}

.ivu-drawer-content {
    background: var(--theme);
    color: var(--theme-reverse);
}

.ivu-drawer-header {
    padding: 0;
}

.page-layout-route-tabs .ivu-tabs {
    padding: .5rem;
    background: var(--theme);
}

.page-layout-route-tabs .ivu-tabs-bar {
    user-select: none;
    margin-bottom: 0;
    border-bottom: 0;
}

.page-layout-route-tabs .ivu-tabs-tab {
    border-radius: 4px !important;
    border: none !important;
    background: var(--theme-700) !important;
    color: var(--theme-reverse) !important;
}

    .page-layout-route-tabs .ivu-tabs-tab.ivu-tabs-tab-active {
        background: var(--primary) !important;
        color: var(--light) !important;
    }

        .page-layout-route-tabs .ivu-tabs-tab.ivu-tabs-tab-active .ivu-tabs-close {
            color: var(--light) !important;
        }

            .page-layout-route-tabs .ivu-tabs-tab.ivu-tabs-tab-active .ivu-tabs-close:hover {
                opacity: .8;
            }

.ivu-menu-vertical.ivu-menu-light:after, .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
    content: none;
}

.page-layout-body {
    grid-column: 2;
    grid-row: 3;
    padding: .5rem;
    padding-top: .25rem;
    overflow: hidden;
    background: var(--theme-800);
    user-select: text;
}

.page-layout-body-content {
    height: 100%;
    overflow: auto;
    padding: .5rem;
    background: var(--theme);
}

.versionModalBody .operations {
    display: grid;
    grid-template-columns: 1fr;
}

.versionModalBody .progress {
    margin-bottom: .2rem;
}

.versionModalBody .ivu-progress-outer {
    padding-right: 0;
    margin-right: 0;
}

.theme-button {
    padding: 0;
    border: none;
    height: 24px;
    background: none;
    vertical-align: middle;
    cursor: pointer;
}

    .theme-button:hover {
        opacity: .8;
    }

.theme-color {
    width: 24px;
    height: 24px;
    background: var(--dark);
    display: inline-block;
    vertical-align: middle;
    border-radius: 24px;
    border: 1px solid black;
}
