<MenuItem v-if="!item.children||item.children.length<=0" v-bind:name="item.id">
    <Icon v-if="item.icon" v-bind:type="item.icon" v-bind:title="$t('menus.'+item.name)" size="20" />
    {{$t('menus.'+item.name)}}
</MenuItem>
<Submenu v-else v-bind:name="item.id">
    <template #title>
        <Icon v-if="item.icon" v-bind:type="item.icon" v-bind:title="$t('menus.'+item.name)" size="20" />
        {{$t('menus.'+item.name)}}
    </template>
    <menuitem v-for="subItem in item.children" v-bind:item="subItem"></menuitem>
</Submenu>