.aes-page {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

    .aes-page .text-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: .5rem;
        padding: .5rem 0;
    }

        .aes-page .text-container textarea {
            height: 100%;
            resize: none;
            border-radius: 4px;
            outline: none;
            border-color: var(--gray-300);
            padding: .5rem;
        }

            .aes-page .text-container textarea:hover {
                border-color: var(--blue-200);
            }

            .aes-page .text-container textarea:focus {
                border-color: var(--blue-200);
                box-shadow: 0 0 0 2px var(--blue-100);
            }

    .aes-page .operations {
        display: grid;
        grid-template-columns: 1fr;
        gap: .5rem;
        align-items: center;
    }
