<div v-bind:style="{display:'grid',gap:'.5rem','grid-template-columns':'repeat('+($root.size+1)+',1fr)'}">
    <div class="label-input">
        <label>{{$t('message.type')}}</label>
        <Select v-model="request.type" :placeholder="$t('message.type')">
            <Option v-for="item in types" :value="item" :key="item">{{ $t('message.'+item) }}</Option>
        </Select>
    </div>

    <div class="label-input">
        <label>{{$t('message.mode')}}</label>
        <Select v-model="request.mode" :placeholder="$t('message.mode')">
            <Option v-for="item in modes" :value="item" :key="item">{{item}}</Option>
        </Select>
    </div>

    <div class="label-input">
        <label>{{$t('message.padding')}}</label>
        <Select v-model="request.padding" :placeholder="$t('message.padding')">
            <Option v-for="item in paddings" :value="item" :key="item">{{item}}</Option>
        </Select>
    </div>

    <div class="label-input">
        <label>{{$t('message.key')}}</label>
        <Tooltip placement="top">
            <Input v-model="request.key" :placeholder="$t('message.key')" />
            <template #content>
                <div style="white-space: normal;">{{$t('message.aesKeyNotice')}}</div>
            </template>
        </Tooltip>
    </div>

    <div class="label-input" v-if="request.mode!='ECB'">
        <label>{{$t('message.iv')}}</label>
        <Tooltip placement="top">
            <Input v-model="request.iv" :placeholder="$t('message.iv')" />
            <template #content>
                <div style="white-space: normal;">{{$t('message.aesIVNotice')}}</div>
            </template>
        </Tooltip>
    </div>
</div>