<div class="aes-page">
    <div v-bind:style="{display:'grid',gap:'.5rem','grid-template-columns':'repeat('+($root.size+1)+',1fr)'}">
        <div class="label-input">
            <label>{{$t('message.type')}}</label>
            <Select v-model="request.type" :placeholder="$t('message.type')">
                <Option v-for="item in types" :value="item" :key="item">{{ $t('message.'+item) }}</Option>
            </Select>
        </div>

        <div class="label-input">
            <label>{{$t('message.mode')}}</label>
            <Select v-model="request.mode" :placeholder="$t('message.mode')">
                <Option v-for="item in modes" :value="item" :key="item">{{item}}</Option>
            </Select>
        </div>

        <div class="label-input">
            <label>{{$t('message.padding')}}</label>
            <Select v-model="request.padding" :placeholder="$t('message.padding')">
                <Option v-for="item in paddings" :value="item" :key="item">{{item}}</Option>
            </Select>
        </div>

        <div class="label-input">
            <label>{{$t('message.key')}}</label>
            <Tooltip placement="top">
                <Input v-model="request.key" :placeholder="$t('message.key')" />
                <template #content>
                    <div style="white-space: normal;">{{$t('message.aesKeyNotice')}}</div>
                </template>
            </Tooltip>
        </div>

        <div class="label-input" v-if="request.mode!='ECB'">
            <label>{{$t('message.iv')}}</label>
            <Tooltip placement="top">
                <Input v-model="request.iv" :placeholder="$t('message.iv')" maxlength="16" show-word-limit />
                <template #content>
                    <div style="white-space: normal;">{{$t('message.aesIVNotice')}}</div>
                </template>
            </Tooltip>
        </div>
    </div>

    <div class="text-container" v-if="request.type=='txt'">
        <div class="text">
            <textarea v-model="request.plainText" :placeholder="$t('message.plainText')" />
            <div class="transfer" v-if="request.plainText">
                <Button @click="copy(request.plainText)">{{$t('message.copy')}}</Button>
            </div>
        </div>
        <div class="operations">
            <Button :disabled="!request.plainText" type="primary" @click="encrypt" icon="md-arrow-down">{{$t('message.encrypt')}}</Button>
            <Button :disabled="!request.cipherText" type="primary" @click="decrypt" icon="md-arrow-up">{{$t('message.decrypt')}}</Button>
        </div>
        <div class="text">
            <textarea v-model="request.cipherText" :placeholder="$t('message.cipherText')" />
            <div class="transfer" v-if="request.cipherText">
                <Button @click="convertToHex(request.cipherText)">{{$t('message.convertToHex')}}</Button>
                <Button @click="copy(request.cipherText)">{{$t('message.copy')}}</Button>
            </div>
            <Modal v-model="hexResultShow"
                   width="250px"
                   :title="$t('message.convertToHex')"
                   :ok-text="$t('message.copy')"
                   @on-ok="copy(hexResult)"
                   @on-cancel="hexResultShow=false">
                <Input v-model="hexResult" type="textarea" autosize="true" />
            </Modal>
        </div>
    </div>

    <div class="file-container" v-if="request.type=='file'">
        <Button @click="filePicker">选择文件</Button>
        <div>
            <h2 v-for="item in request.inputFiles">{{item.fullName}}</h2>
        </div>
        <div class="operations">
            <Button :disabled="!request.inputFiles||request.inputFiles.length<=0" type="primary" @click="encryptFile">{{$t('message.encrypt')}}</Button>
            <Button :disabled="!request.inputFiles||request.inputFiles.length<=0" type="primary" @click="decryptFile">{{$t('message.decrypt')}}</Button>
        </div>
    </div>
</div>