<div class="tripleDes-page">
    <div v-bind:style="{display:'grid',gap:'.5rem','grid-template-columns':'repeat('+($root.size+1)+',1fr)'}">
        <labelinput :label="$t('type')">
            <Select v-model="request.type" :placeholder="$t('type')">
                <Option v-for="item in types" :value="item" :key="item">{{ $t(item) }}</Option>
            </Select>
        </labelinput>

        <labelinput :label="$t('mode')">
            <Select v-model="request.mode" :placeholder="$t('mode')">
                <Option v-for="item in modes" :value="item" :key="item">{{item}}</Option>
            </Select>
        </labelinput>

        <labelinput :label="$t('padding')">
            <Select v-model="request.padding" :placeholder="$t('padding')">
                <Option v-for="item in paddings" :value="item" :key="item">{{item}}</Option>
            </Select>
        </labelinput>

        <labelinput :label="$t('key')">
            <tooltip :text="$t('tripleDesKeyNotice')">
                <Input v-model="request.key" :placeholder="$t('key')" />
            </tooltip>
        </labelinput>

        <labelinput :label="$t('iv')" v-if="request.mode!='ECB'">
            <tooltip :text="$t('tripleDesIVNotice')">
                <Input v-model="request.iv" :placeholder="$t('iv')" maxlength="8" show-word-limit />
            </tooltip>
        </labelinput>
    </div>

    <div class="text-container" v-if="request.type=='txt'">
        <div class="text">
            <textarea v-model="request.plainText" :placeholder="$t('plainText')" spellcheck="false" />
            <div class="transfer" v-if="request.plainText">
                <Button @click="copy(request.plainText)">{{$t('copy')}}</Button>
            </div>
        </div>
        <div class="operations">
            <Button v-bind:disabled="!request.plainText" v-bind:type="'primary'" @click="encrypt" icon="md-arrow-down">{{$t('encrypt')}}</Button>
            <Button v-bind:disabled="!request.cipherText" v-bind:type="'primary'" @click="decrypt" icon="md-arrow-up">{{$t('decrypt')}}</Button>
        </div>
        <div class="text">
            <textarea v-model="request.cipherText" :placeholder="$t('cipherText')" spellcheck="false" />
            <div class="transfer" v-if="request.cipherText">
                <Button @click="convertToHex(request.cipherText)">{{$t('convertToHex')}}</Button>
                <Button @click="copy(request.cipherText)">{{$t('copy')}}</Button>
            </div>
            <Modal v-model="hexResultShow"
                   width="250px"
                   :title="$t('convertToHex')"
                   :ok-text="$t('copy')"
                   @on-ok="copy(hexResult)"
                   @on-cancel="hexResultShow=false">
                <Input v-model="hexResult" v-bind:type="'textarea'" autosize="true" spellcheck="false" />
            </Modal>
        </div>
    </div>

    <div class="file-container" v-if="request.type=='file'">
        <List border class="file-list">
            <ListItem v-if="request.inputFiles&&request.inputFiles.length>0" v-for="item in request.inputFiles">
                <div class="file-item">
                    <div class="name">
                        <tooltip :text="item.fullName">
                            <div style="min-width:200px">{{item.fullName}}</div>
                        </tooltip>
                    </div>
                    <div class="status">
                        <div v-if="item.status==0">
                            {{$t('waitExecute')}}
                            <Icon type="md-alarm" size="18" />
                        </div>
                        <div v-if="item.status==1">
                            {{$t('executing')}}
                            <Icon type="ios-loading" color="var(--primary)" size="18" style="animation: rotateAnimation 1s ease-in-out forwards; animation-iteration-count: infinite;" />
                        </div>
                        <tooltip v-if="item.status==2" placement="left" :text="$t('fileSavedAt')+':'+item.data">
                            <div class="notice">
                                {{$t('success')}}
                                <Icon type="ios-checkmark-circle" color="var(--success)" size="18" />
                            </div>
                        </tooltip>

                        <tooltip v-if="item.status==3" placement="left" :text="item.data">
                            <div class="notice">
                                {{$t('fail')}}
                                <Icon type="md-close-circle" color="var(--danger)" size="18" />
                            </div>
                        </tooltip>
                    </div>
                </div>
            </ListItem>
            <ListItem v-else>
                <div>{{$t('please')}}&nbsp;{{$t('selectFile')}}</div>
            </ListItem>

            <template #header>
                <div class="operations">
                    <Button v-bind:disabled="fileEncrypting" v-bind:type="'primary'" @click="filePicker">{{$t('selectFile')}}</Button>
                    <Button v-bind:disabled="fileEncrypting||!request.inputFiles||request.inputFiles.length<=0" v-bind:type="'success'" @click="encryptFile">{{$t('encrypt')}}</Button>
                    <Button v-bind:disabled="fileEncrypting||!request.inputFiles||request.inputFiles.length<=0" v-bind:type="'warning'" @click="decryptFile">{{$t('decrypt')}}</Button>
                </div>
            </template>
        </List>
    </div>
</div>