.loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

    .loading.mask {
        background-color: var(--gray-opacity);
    }

    .loading svg {
        width: 100%;
        height: 100%;
        max-width: 4rem;
        max-height: 4rem;
        animation: rotateAnimation 1s ease-in-out forwards;
        animation-iteration-count: infinite;
    }